@font-face {
  font-family: 'CALIBRI';
  src: url("/fonts/calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, container {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

.progressBar {
  display: block; }
  .progressBar #progressBar__circle {
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center; }
  .progressBar .progressBar__circle_rotation {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotation;
    -moz-animation-name: rotation;
    -o-animation-name: rotation;
    animation-name: rotation;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear; }
@-webkit-keyframes rotation {
  from {
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center; }
  to {
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center; } }
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center; }
  to {
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center; } }
@-o-keyframes rotation {
  from {
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center; }
  to {
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center; } }
@keyframes rotation {
  from {
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center; }
  to {
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center; } }
body {
  text-align: center;
  background-image: url(/img/2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.progressBar_position {
  display: inline-block;
  vertical-align: middle;
  margin-top: 35%; }
  @media (orientation: landscape) {
    .progressBar_position {
      margin-top: 15%;
      margin-right: 10%; } }

.progressBarSkin {
  width: 150px;
  height: 150px; }

.progressBar_hidden {
  display: none; }

.progressControls {
  vertical-align: middle;
  width: 120px;
  display: block;
  margin: 0 auto;
  text-align: left;
  font-family: CALIBRI;
  font-size: 16px;
  margin-top: 30%; }
  @media (orientation: landscape) {
    .progressControls {
      display: inline-block;
      margin-top: 15%; } }
  .progressControls div {
    margin-bottom: 10px; }
  .progressControls .progressControls__value {
    width: 38px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    font-size: 17px; }
  .progressControls input[type=checkbox] {
    display: none; }
  .progressControls .progressControls__title {
    vertical-align: middle;
    margin-left: 5px; }
  .progressControls input[type=checkbox] + label {
    vertical-align: middle;
    display: inline-block;
    background-color: #4a4a4a;
    color: white;
    height: 24px;
    position: relative;
    width: 40px;
    border-radius: 20px; }
  .progressControls input[type=checkbox] + label i {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
  .progressControls input[type=checkbox]:checked + label {
    background-color: #7ed321; }
  .progressControls input[type=checkbox] + label:before,
  .progressControls input[type=checkbox] + label:after,
  .progressControls input[type=checkbox] + label i {
    width: 50%;
    display: inline-block;
    height: 100%;
    text-align: center; }
  .progressControls input[type=checkbox] + label i {
    top: 5%;
    background-color: white;
    height: 90%;
    left: 3%;
    position: absolute;
    width: 55%;
    border-radius: 50%; }
  .progressControls input[type=checkbox]:checked + label i {
    left: 43%; }

/*# sourceMappingURL=main.css.map */
